@import '../../styles/colors.scss';

.beat-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 355px);
}
.country-page {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 20px;
  padding: 30px 0;
}
.side-bar {
  position: sticky;
  gap: 10px;
  top: 3vh;
  border-right: 2px solid $divider-color;
  height: 94vh;
}
.divider {
  background-color: $divider-color;
  margin-bottom: 10px;
  height: 2px;
  width: 90%;
}
.main-content {
  display: grid;
  padding: 0 60px;
}
.country-name {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: $main-color;
  text-decoration: underline $underline-color;
  text-align: center;
}
.country-capital {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.description-component {
  padding: 20px 0;
}

@media (max-width: 1099px) {
  .main-content {
    padding: 0 40px;
  }
}

@media (max-width: 1023px) {
  .country-page {
    grid-template-columns: 1fr;
  }
  .side-bar {
    text-align: center;
    position: unset;
    border-right: none;
    height: unset;
  }
}
