$main-color: #f50057;

.country-page {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 20px;
  padding: 30px 0;
}
.side-bar {
  position: sticky;
  gap: 10px;
  top: 3vh;
  border-right: 2px solid rgb(173, 173, 173);
  height: 94vh;
}
.clock-widget,
.weather-widget,
.currency-widget {
  width: 90%;
  height: 190px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px 5px rgba(34, 60, 80, 0.2);
}
.main-content {
  display: grid;
}
.country-name {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: $main-color;
  text-decoration: underline #303f9f;
  text-align: center;
}
.block-photo {
  width: 100%;
  text-align: center;

  img {
    width: 80%;
  }
}