.capitalDateTime{
  background: linear-gradient(to right, #f50057, #0099F7);
  border-top: 1px solid #CCC;
  box-shadow: 0px 0px 5px 0px #ccc;
  cursor: pointer;
  vertical-align: middle;
  height: inherit;
}
.capitalDateTime-common{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem;
  line-height: 1.7;
    &__day{
      color: white;
      margin: 0;
    }
    &__month{
      margin: 0;
      color: #0099f7;
      font-weight: 800;
      font-size: 1.4rem;
    }
    &__year{
      margin: 0;
      color: #0099f7;
    }
    &__time{
      margin: 0;
      color: #ffffff;
      font-size: 1.8rem;
      font-weight: 900;
      font-family: "Roboto", sans-serif;
      padding-bottom: 1rem;
      margin-top: 1rem;
    }
}