.slide-dots{
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dotActive{
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.slider{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}

.hideSlider{
  position: fixed !important;
  background-color: #ddd !important;
  z-index: 2;
  top: 2rem;
  right: 2rem;
}

.showSlider{
  position: absolute !important;
  width: 2rem;
  height: 2rem;
  background-color: #DDDDDD !important;
  margin: .5rem !important;
  padding: 1.3rem 0 !important;
}

.MuiButton-iconSizeMedium > *:first-child {
  font-size: 2rem !important;
}
.MuiButton-startIcon {
  display: inherit;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.sliderContent{
  height: 100%;
  display: flex;
}
.slide{
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.arrow{
  display: flex;
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  justify-content: center;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: transform ease-in 0.1s;
  &:hover {
    transform: scale(1.1);
  }  
  img {
    &:focus {
      outline: 0;
    }
  }
}
.left-arrow{
  left: 25px;
}
.right-arrow{
  right: 25px;
}
