.login-form {
  display: grid;
  row-gap: 20px;
  width: 400px;
  margin: 50px auto 100px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}
.form-button {
  justify-self: right;
}
